body{
	background-image: url("/prism/prism.png"); /* Background pattern from Toptal Subtle Patterns */
	font-family: sans-serif;
}
h1{
  padding-top: 50px;;
  font-size: 48px;
  text-shadow: -1px -1px 3px #020202, 
  2px 2px 4px #1b1b1b;
  font-family:"Segoe print", Arial, Helvetica, sans-serif;
  color:white;
  margin:16px auto;
  font-weight:lighter;
  -moz-box-shadow:none;  
  -webkit-box-shadow: none;  
  box-shadow:none;  
  text-align:center;
  display:block;
}
.slider{
	
	max-width: 700px;
	margin:80px auto;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.75);
	border-radius: 5px;
}

.slider .left-slide,.slider .right-slide{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #444444;
  border-radius: 50%;
  color:#ffffff;
  font-size: 20px;
  top:50%;
  cursor: pointer;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  
}
.slider .left-slide:hover,.slider .right-slide:hover{
 box-shadow: 0px 0px 10px black;
 background-color: #29a8e2;

}

.slider .left-slide{
	left: 30px;
}
.slider .right-slide{
	right: 30px;
}
.slider .slider-items .item img{
	max-width: 100%;
	display: block;
	animation:zoom 1s ease;
}

@keyframes zoom{
	0%{transform: scale(2);opacity: 0}
	100%{transform: scale(1);opacity:1}
}
.slider .slider-items .item{
	display: none;
	position: relative;
}
.slider .slider-items .item .caption{
position: absolute;
width: 100%;
height: 60px;
bottom: 0px;
left: 0px;
background-color: rgba(0,0,0,.5);
line-height: 60px;
text-align: center;
color: #ffffff;
font-size: 30px;

}

.slider .slider-items .item.active{
	display: block;
}








