.rectangle{
  height: 3vh;
  width: 3vh;
}
.rectangle:hover{
  color:red;
  border-color: red !important;
  transition: 0.4s;
  cursor: pointer;
}
.newNote{
  visibility: hidden;
  width: 50vh;
  background-color: #181818;
  position: absolute !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 5;

}
.form-control::placeholder{
  color:#303030;
  text-align: center;
}
.selectColor{
  -webkit-appearance: none;
-moz-appearance: none;
text-indent: 1px;
text-overflow: '';

}
.selectColor:active, .selectColor:hover {
  outline: none
}
.note{
  height: 60vh;
  width: 80% !important;
  margin-left: auto;
  margin-right: auto;
}
