body{
    background-image: url('symphony.png');
}
h1{
    text-align: center;
    font-family: 'Balsamiq Sans';

}
.transition {
    animation: scale 0.3s;
}

@keyframes scale {
     50% {
        transform: scale(1.2);
        background-color:#da2a2a;
    }
   
}

span {
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius:5px;
    padding:25px;
    margin-left: 5px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}
.sounds {

    text-align: center;
    position: absolute;
    top:45%;
    left:8%;
}
#buttons {
    display: inline-block;
    background-color:gray;
    border-radius:0 5px 5px 0 ;
    padding:5px;
    
}
.btn-group-vertical{
    margin:10px;
}
